@import url('import.css');



*{

border:0px solid #eee;

margin:0;

padding:0;

list-style:none

}

html,body,#background,#background table,#background td,#container{

width:100%;

height:100%;

overflow:hidden;

}

body{

	font-family:"Calibri",Arial,Helvetica,sans-serif;

	font-size:12px;

	cursor:default;

	color:#000;

	background-color: #FFFFFF;

}



h1,.large,.left{

	font-family:"Calibri", "Century Gothic", "Lucida Grande", Arial, sans-serif;

	font-size:40px;

}

h1,.box div img{

	padding-bottom:10px;

}

h2{

	font-weight: bold;

	text-transform: capitalize;

}

a{

	text-decoration:none;

	color:#FF6600;

}

img{

	display:block

}

a.bluebox{

	display:block;

	position: fixed;

	z-index:2;

	left:0px;

	bottom:20px;

	height:60px;

	width:125px;

	color:#fff;

	text-align:right;

	background-image:url(/img/button.jpg)

}

a.bluebox:hover{

	background-image:url(/img/button_over.jpg)

}

/*div.menu{

	display:block;

	position:fixed;

	z-index:2;

	bottom:20px;

	left:125px;

	width:100%;

	height:60px;

	opacity:0.7;

	filter:alpha(opacity=70);

	padding:0px 0px 0px 5px;

	background-color: #000000;

	font-size: 9px;

	line-height:10px;

}*/



#menu{

	display:block;

	position:absolute;

	bottom:20px;

	left:125px;

	z-index:2;

	width:100%;

	display:block;

	line-height:12px;

	opacity:0.6;	

	filter:alpha(opacity=60);

	padding:0px 0px 0px 5px;

	background-color: #000000;

	height:60px;

	font-size: 9px;

	line-height:10px;	

}

/*#menu div{

	z-index:100;

	height:56px;

	opacity:0.6;

	filter:alpha(opacity=60);

	padding:7px 0 0 7px;

	background-color: #000000;

}



ul{

	margin: 2px 0px 0px 5px;

	height:9px;

	float:left;

}

li a{

	display:block;

	height: 9px;	

	font-family: Arial, sans-serif;

	width:120px;

	color:#FFFFFF;

}

li a:hover,li.cur a{

	color:#999999

}



ul .level1{

padding-top:-12px;

}

ul .line{

padding-left:120px;

top:-12px;

}*/



ul{

	float:left;

	margin: 2px 0px 0px 5px;

}

li a{

	display:block;

	height: 9px;	

	font-family: Arial, sans-serif;

	width:120px;

	color:#FFFFFF;

}

li a:hover,li.cur a{

	color:#999999

}

.small {

	font-size: 10px;

	line-height: 15px;

}

.space{

	padding-top: 15px;

}

.divesites{

	position:absolute;

	top:10px;

	right:10px;

	width:430px;

	padding-bottom:200px;

	opacity:0.9;

	filter:alpha(opacity=90);

}

.divesites div{

	line-height:1.5em;

	padding:4px 10px;

	background-color: #FFFFFF;

}

.divesites div a{

	text-decoration:underline;

	color:#33CCFF;

}

.box{

	position:absolute;

	top:40%;

	right:50px;

	width:500px;

	padding-bottom:120px

}

.box div{

	line-height:1.5em;

	padding:10px 10px;

	background-color: #FFFFFF;

}

.box div a{

	text-decoration:underline;

	color:#33CCFF;

}

.large{

	text-align:right;

	top:20%;

	right:120px;

	font-size:13px

}



.large h1{

	font-size:64px;

	line-height: 55px;

}

.left{
	width:700px;
	text-align:left;
	right:auto;
	left:130px;
	font-size:15px
}

.left_onlinespecial{
	width:850px;
	text-align:left;
	right:auto;
	left:200px;
	font-size:18px
	top:25%;
}

.white{

	color:#fff

}

h3{

	position:relative;

	border-bottom-width:1px;

	padding:30px 30px 10px 30px;

	margin:0 -30px 20px -30px;

	text-transform:uppercase;

	line-height:20px;

	font-weight:bold;

	font-size: 15px;

}



dl{

	margin:0px 0

}

p{

	padding-bottom: 10px;

}



dt,dd p{

	padding:3px 0 3px 0;

	display:block;

	border-top-width:1px;

	width:400px

}

dt{

	text-transform:uppercase;

	padding:0 5px;

	cursor:pointer;

	line-height:20px;

	height:20px;

	font-weight:bold;



}

dd{

	height:0px;

	overflow:hidden;



}



#background div{

	position:absolute;

	width:200%;

	height:200%;

	top:-50%;

	left:-50%

}

#background td{

	vertical-align:middle;

	text-align:center

}

#background img{

	min-height:50%;

	min-width:50%;

	margin:0 auto

}





#container{

	position:absolute;

	top:-1px;

	left:-1px;

	z-index:1;

	overflow:auto;

}

.ad_oxygene {
	left:40px;
	padding:10px 0 0 10px;
	height:110px;
	width:200px;
	position:fixed;
}
.ad_onlinespecial {
	left:20px;
	padding:20px 0 0 10px;
	height:254px;
	width:254px;
	position:fixed;

}

/*a.ad_monsoon {
	position:fixed;
	display:block;
	overflow:auto;
}*/

di.ad_tripadvisor {
	float:right;
	width:200px;
	margin:0px 0px 20px 20px;
}
.puff1 {
	position:fixed;
	right:0px;
	top:20px;
}


.puff2 {
	position:fixed;
	Right:0px;
	top:150px;
}
.puff3 {
	position:absolute;
	Right:0px;
	top:290px;
}
.puff4 {
	position:absolute;
	Right:0px;
	top:410px;
}
.footer {
	position:absolute;
	Left:0px;
	bottom: 3px;
	font-size: 10px;
	line-height: 8px;
}

#photos{

	position:absolute;

	z-index:3;

	bottom:20px;

	right:0px;

	height:20px;

	overflow:hidden



}

#photos a,#float{

	z-index:3;

	height:20px;

	line-height:20px;

	text-align:center;

	width:40px;

	background: url(/img/gallery_arrow.png) -3px 5px no-repeat;

	cursor:pointer;

	color:#CCCCCC

}

#photos a{

	width:20px;

	float:left;

	margin-left:1px;

	background:#000;

	font-weight:bold;

	overflow:hidden



}

#photos a:hover,#photos a.cur{

	color:#000;

	background-color: #33CCFF;

}



#float{display:none;position:absolute}

#float.nxt,#float.prv{display:block}

#float.nxt{

	background-position:-58px 0px;

	height:32px;

	}

#float.prv{

	background-position:0px 0px;

	height:32px;

}





.grey {

	font-size: smaller;

	font-style: italic;

	color: #999999;

}

.newstitle {

	font-size: 200%;

	font-weight: bold;

	text-transform: uppercase;

}



