
#slider {
	width: 435px;
	padding-top: 0px;
}
	
.header {
	position: relative;
	padding: 7px 0px 0px 25px;
	margin: 0px;
	width: 410px;
	height: 19px;
	float: left;
	font-size: 12px;
	color: #4C6ABC;
	cursor: pointer;
	background-image: url(../images/dottedrule_409.png);
	background-repeat: no-repeat;
	background-position: 25px 0px;
}
 
 .header:hover {
	text-decoration: none;
	color: #FFFFFF;
}

.content {
	width: 435px;
	float: left;
	overflow: hidden;
}

.text {
	position: relative;
	padding: 0px 5px 10px 25px;
	margin: 0px;
	width: 405px;
	float: left;
	font-size: 12px;
	line-height: 16px;
	color: #250D0C;
}