/* 
bg light brown C9A88F
dark brown 250D0C
light blue 
dark blue 8297D0
home text blue FBC9A2
text FAB783
footer text 593D1C

/*Below is a list of headings used in this doc

/* global.css - shared rules
----------------------------------------------- */
/* top menu rules
----------------------------------------------- */
/* footer rules
----------------------------------------------- */
/* home page rules
----------------------------------------------- */
/* welcome page rules
----------------------------------------------- */
/* rooms page rules
----------------------------------------------- */
/* gallery page rules
----------------------------------------------- */
/* image downloads page rules
----------------------------------------------- */
/* rates page rules
----------------------------------------------- */
/* activities page rules
----------------------------------------------- */
/* dining page rules
----------------------------------------------- */
/* blog page rules
----------------------------------------------- */
/* design page rules
----------------------------------------------- */
/* contact page rules
----------------------------------------------- */


/* global.css
----------------------------------------------- */

body {
	margin: 0px;
	padding: 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight:normal;
	text-align:left;
	color:#000000;
	background-color: #7EA3EF;
}

a:link {
	color: #8297D0;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color: #8297D0;
}
a:hover {
	text-decoration: none;
	color: #FFFFFF;
}
a:active {
	text-decoration: none;
	color: #8297D0;
}

img {
	border: 0;
}

/* background image stuff
----------------------------------------------- */

html,body,#background,#background table,#background td,#container{
width:100%;
height:100%;
overflow:hidden;
}

#background div{
	position:absolute;
	width:200%;
	height:200%;
	bottom: 0;
	left: 0;
}

#background td{
	vertical-align:bottom;
	text-align:left;
}

#background img{
	min-height:50%;
	min-width:50%;
	margin:0 auto;
}

/* top menu rules
----------------------------------------------- */

#topmenu{
	position:absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	min-width: 980px;
	height: 32px;
	padding: 0px;
	background-color: #220000;
	text-align:center;
	clear: both;
}

#topmenuinner{
	position: relative;
	width: 940px;
	padding: 0px 20px;
	margin: 0px auto;
	text-align:right;
}

#topmenulinks{
	position: relative;
	padding-top: 7px;
	width: 768px;
	float: right;
}

#topmenulinks li{
	display: inline;
	position: relative;
	padding-left: 10px;
	padding-top: 7px;
	font-size: 11px;
	font-weight: bold;
}

#topmenulinks ul{
	position: relative;
	padding: 0px;
	margin: 0px;
	vertical-align: middle;
}

#topmenulogo{
	position: relative;
	padding: 8px 0px 0px 0px;
	width: 172px;
	float: left;
	z-index: 5;
}

a.menuon:link {
	color: #FFFFFF;
	text-decoration: none;
}
a.menuon:visited {
	text-decoration: none;
	color: #FFFFFF;
}
a.menuon:hover {
	text-decoration: none;
	color: #FFFFFF;
}
a.menuon:active {
	text-decoration: none;
	color: #FFFFFF;
}

/* on page stuff
----------------------------------------------- */

#homehead{
	display:block;
	position:absolute;
	top:20%;
	left:0px;
	z-index:2;
	width:100%;
	padding:0px;
	text-align:center;
}

#textbar{
	display:block;
	position:absolute;
	bottom:55px;
	left:0px;
	z-index:2;
	width:100%;
	opacity:0.7;	
	filter:alpha(opacity=70);
	padding:0px;
	background-color: #250D0C;
	height:120px;
	text-align:center;
}

#textbarinner{
	position: relative;
	z-index: 3;
	width: 843px;
	padding: 0px;
	margin: 0px auto;
	font-size: 13px;
	line-height:16px;
	color: #FBC9A2;
	text-align:left;
}

.gatewayimage{
	position: relative;
	padding: 14px 0px 7px 0px;
}