/* 
bg light brown C9A88F
dark brown 250D0C
light blue 
dark blue 8297D0
home text blue FBC9A2
text FAB783
footer text 593D1C

/*Below is a list of headings used in this doc

/* global.css - shared rules
----------------------------------------------- */
/* top menu rules
----------------------------------------------- */
/* footer rules
----------------------------------------------- */
/* home page rules
----------------------------------------------- */
/* welcome page rules
----------------------------------------------- */
/* rooms page rules
----------------------------------------------- */
/* gallery page rules
----------------------------------------------- */
/* image downloads page rules
----------------------------------------------- */
/* rates page rules
----------------------------------------------- */
/* activities page rules
----------------------------------------------- */
/* dining page rules
----------------------------------------------- */
/* blog page rules
----------------------------------------------- */
/* design page rules
----------------------------------------------- */
/* contact page rules
----------------------------------------------- */


/* global.css
----------------------------------------------- */

body {
	margin: 0px;
	padding: 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight:normal;
	text-align:left;
	color:#000000;
	background-color: #C9A88F;
}

a:link {
	color: #8297D0;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color: #8297D0;
}
a:hover {
	text-decoration: none;
	color: #FFFFFF;
}
a:active {
	text-decoration: none;
	color: #8297D0;
}

img {
	border: 0;
}

#container {
	top: 32px;
	width: 980px;
	height: auto;
	padding: 0px;
	margin: 0px auto 0px auto;
	position: relative;
	background-color: #C9A88F;
	clear: both;
}

.lightbrowntext{
	color: #FAB783;
}

.whitentext{
	color: #FFFFFF;
}

.smalltext{
	font-size: 10px;
}

/* top menu rules
----------------------------------------------- */

#topmenu{
	position:absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	min-width: 980px;
	height: 32px;
	padding: 0px;
	background-color: #220000;
	text-align:center;
	clear: both;
}

#topmenuinner{
	position: relative;
	width: 940px;
	padding: 0px 20px;
	margin: 0px auto;
	text-align:left;
}

#topmenulinks{
	position: relative;
	padding-top: 7px;
	float: left;
}

#topmenulinks li{
	display: inline;
	position: relative;
	padding-left: 10px;
	padding-top: 7px;
	font-size: 11px;
	font-weight: bold;
}

#topmenulinks ul{
	position: relative;
	padding: 0px;
	margin: 0px;
	vertical-align: middle;
}

#topmenulogo{
	position: relative;
	padding: 8px 6px 9px 0px;
	float: left;
	z-index: 5;
}

a.menuon:link {
	color: #FFFFFF;
	text-decoration: none;
}
a.menuon:visited {
	text-decoration: none;
	color: #FFFFFF;
}
a.menuon:hover {
	text-decoration: none;
	color: #FFFFFF;
}
a.menuon:active {
	text-decoration: none;
	color: #FFFFFF;
}

/* footer rules
----------------------------------------------- */

.footerbox{
	position: relative;
	padding: 0px;
	margin-bottom: 20px;
	width: 980px;
	float: left;
	clear: both;
	z-index: 9;
}

.footerleft{
	position: relative;
	padding: 0px;
	margin: 0px;
	width: 134px;
	float: left;
	font-size: 10px;
	line-height: 12px;
	color:#593D1C;
	text-align: center;
}

a.footerleftlink:link {
	color: #593D1C;
	text-decoration: none;
}
a.footerleftlink:visited {
	text-decoration: none;
	color: #593D1C;
}
a.footerleftlink:hover {
	text-decoration: none;
	color: #250D0C;
}
a.footerleftlink:active {
	text-decoration: none;
	color: #593D1C;
}

.footerleftimage{
	padding-bottom: 8px;
}

.footerright{
	position: relative;
	padding: 0px;
	margin: 0px;
	width: 200px;
	float: right;
	font-size: 10px;
	line-height: 12px;
	color:#593D1C;
	text-align: right;
}

a.footerrightlink:link {
	color: #EFE5DD;
	text-decoration: none;
}
a.footerrightlink:visited {
	text-decoration: none;
	color: #EFE5DD;
}
a.footerrightlink:hover {
	text-decoration: none;
	color: #FFFFFF;
}
a.footerrightlink:active {
	text-decoration: none;
	color: #EFE5DD;
}

.footerspace{
	position: relative;
	padding: 0px;
	margin: 0px;
	width: 980px;
	height: 20px;
	float: left;
	clear: both;
}

/* welcome page rules
----------------------------------------------- */

.topleftbox{
	position: relative;
	padding: 0px;
	margin: 0px;
	width: 545px;
	height: 327px;
	float: left;
}

.toprightbox{
	position: relative;
	padding: 0px;
	margin: 0px;
	width: 435px;
	height: 327px;
	float: left;
}

.bottomleftbox{
	position: relative;
	padding: 0px;
	margin: 0px;
	width: 545px;
	height: 377px;
	float: left;
	background-color: #250D0C;
	background-image: url(../images/squiggle.gif);
	background-repeat: no-repeat;
	background-position: 297px 26px;
}

.bottomrightbox{
	position: relative;
	padding: 0px;
	margin: 0px;
	width: 435px;
	height: 377px;
	float: left;
	background-color: #C9A88F;
}

.bottomlefthead{
	position: relative;
	padding: 23px 0px 22px 25px;
	margin: 0px;
	width: 520px;
	float: left;
	clear: both;
}

.bottomlefttext{
	position: relative;
	padding: 0px 35px 16px 25px;
	margin: 0px;
	width: 485px;
	float: left;
	font-size: 14px;
	line-height: 19px;
	color: #FFFFFF;
	clear: both;
}

.bottomrighthead{
	position: relative;
	padding: 23px 0px 22px 25px;
	margin: 0px;
	width: 410px;
	float: left;
	clear: both;
}

.bottomrighttext{
	position: relative;
	padding: 0px 0px 16px 25px;
	margin: 0px;
	width: 410px;
	float: left;
	clear: both;
	font-size: 12px;
	line-height: 16px;
	color:#250D0C;
}

/* welcome top right box divs
---------------------- */

.welcomeright1{
	position: relative;
	padding: 0px;
	margin: 0px;
	width: 274px;
	height: 327px;
	float: left;
}

.welcomeright2{
	position: relative;
	padding: 0px;
	margin: 0px;
	width: 161px;
	height: 327px;
	float: left;
}

/* rooms page rules
----------------------------------------------- */

.roomslefttext{
	position: relative;
	padding: 30px 35px 0px 0px;
	margin: 0px;
	float: left;
}

.roomsstars{
	position: relative;
	width: 12px;
	padding: 0px 5px 0px 8px;
	margin: 0px;
	float: left;
	font-size: 12px;
	line-height: 16px;
}

.roomstypes{
	position: relative;
	width: 143px;
	padding: 0px;
	margin: 0px;
	float: left;
	font-size: 12px;
	line-height: 16px;
}

.roomstext{
	position: relative;
	width: 285px;
	padding: 0px;
	margin: 0px;
	float: left;
	font-size: 12px;
	line-height: 16px;
	color:#C9A88F;
}

/* rooms top right box divs
---------------------- */

.roomsright1{
	position: relative;
	padding: 0px;
	margin: 0px;
	width: 145px;
	height: 327px;
	float: left;
}

.roomsright2{
	position: relative;
	padding: 0px;
	margin: 0px;
	width: 290px;
	height: 327px;
	float: left;
}

/* rooms bottom right box divs
---------------------- */

.roomsthumbsbox{
	position: relative;
	padding: 20px 0px 4px 25px;
	margin: 0px;
	float: left;
}

.roomsthumbs{
	position: relative;
	padding-right: 4px;
	margin: 0px;
	float: left;
}

.roomspicture{
	position: relative;
	padding: 0px 0px 0px 25px;
	margin: 0px;
	float: left;
	clear: left;
}

/* gallery page rules
----------------------------------------------- */

.gallerytopbox{
	position: relative;
	padding: 0px;
	margin: 0px;
	width: 980px;
	height: 327px;
	float: left;
}

.gallerybottombox{
	position: relative;
	padding: 0px;
	margin: 0px;
	width: 980px;
	height: 377px;
	float: left;
	background-color: #250D0C;
	background-image: url(../images/squiggle.gif);
	background-repeat: no-repeat;
	background-position: 732px 26px;
}

/* gallery thumbs
---------------------- */

.gallerythumbsbox{
	position: relative;
	padding: 0px 0px 4px 25px;
	margin: 0px;
	width: 930px;
	float: left;
	clear: both;
}

.gallerythumbs{
	padding: 0px 4px 0px 0px;
	margin: 0px;
	float: left;
}

.gallerylink{
	position: relative;
	width: 761px;
	padding: 9px 0px 0px 0px;
	margin: 0px;
	font-size: 10px;
	text-align: right;
	float: left;
	clear: both;
}

/* image downloads page rules
----------------------------------------------- */

.downloadslefthead{
	position: relative;
	padding: 55px 0px 22px 25px;
	margin: 0px;
	width: 520px;
	float: left;
	clear: both;
}

.downloadslefttext2{
	position: relative;
	padding: 0px 25px 16px 25px;
	margin: 0px;
	width: 485px;
	float: left;
	font-size: 12px;
	line-height: 16px;
	color: #FFFFFF;
	clear: both;
}

.downloadsleftlink{
	position: relative;
	padding: 5px 0px 0px 25px;
	margin: 0px;
	width: 485px;
	font-size: 10px;
	text-align: left;
	float: left;
	clear: both;
}

/* image downloads right boxes
--------------------------- */

.downloadsbox{
	position: relative;
	padding-top: 23px;
	margin: 0px;
	width: 435px;
	float: left;
	background-color: #C9A88F;
}

.downloadsleftbox{
	position: relative;
	padding: 0px 0px 16px 25px;
	margin: 0px;
	width: 201px;
	float: left;
}

.downloadstpic{
	position: relative;
	padding: 0px 0px 0px 0px;
	margin: 0px;
	width: 201px;
	height: 135px;
	float: left;
	clear: both;
}

.downloadslink{
	position: relative;
	padding: 7px 0px 0px 8px;
	margin: 0px;
	width: 193px;
	height: 17px;
	font-size: 10px;
	text-align: left;
	float: left;
	clear: both;
	background-color: #250D0C;
}

.downloadsrightbox{
	position: relative;
	padding: 0px 0px 16px 8px;
	margin: 0px;
	width: 201px;
	float: left;
}

/* rates page rules
----------------------------------------------- */

.ratesleftbox{
	position: relative;
	padding-bottom: 45px;
	margin: 0px;
	width: 545px;
	float: left;
	background-color: #250D0C;
	background-image: url(../images/squiggle.gif);
	background-repeat: no-repeat;
	background-position: 297px 26px;
}

.ratesrightbox{
	position: relative;
	padding-bottom: 30px;
	margin: 0px;
	width: 435px;
	float: left;
	background-color: #C9A88F;
}

.ratesleftrow1{
	position: relative;
	padding: 0px 0px 0px 25px;
	margin: 0px;
	width: 495px;
	float: left;
	font-size: 12px;
	line-height: 16px;
	color: #FFFFFF;
	clear: both;
}

.ratesleftrow2{
	position: relative;
	padding: 0px 0px 6px 0px;
	margin: 0px;
	width: 495px;
	float: left;
	color: #FFFFFF;
}

.ratesleftrow3{
	position: relative;
	padding: 0px;
	margin: 0px;
	width: 495px;
	height: 10px;
	float: left;
	background-image: url(../images/dottedrule_493.png);
	background-repeat: no-repeat;
	background-position: top left;
}

.ratesleftcol1{
	position: relative;
	padding: 0px 15px 0px 0px;
	margin: 0px;
	width: 220px;
	float: left;
	font-size: 12px;
	line-height: 16px;
	color: #FFFFFF;
}

.ratesleftcol2{
	position: relative;
	padding: 0px 0px 0px 0px;
	margin: 0px;
	float: left;
	font-size: 12px;
	line-height: 16px;
	color: #FFFFFF;
}

.ratesrightrow1{
	position: relative;
	padding: 0px 0px 0px 25px;
	margin: 0px;
	width: 410px;
	float: left;
	font-size: 12px;
	line-height: 16px;
	color: #250D0C;
	clear: both;
}

.ratesrightrow2{
	position: relative;
	padding: 0px 0px 6px 0px;
	margin: 0px;
	width: 385px;
	float: left;
	color: #250D0C;
}

.ratesrightrow3{
	position: relative;
	padding: 0px;
	margin: 0px;
	width: 410px;
	height: 10px;
	float: left;
	background-image: url(../images/dottedrule_409.png);
	background-repeat: no-repeat;
	background-position: top left;
}

.ratesrightcol1{
	position: relative;
	padding: 0px;
	margin: 0px;
	width: 300px;
	float: left;
	font-size: 12px;
	line-height: 16px;
	color: #250D0C;
}

.ratesrightcol2{
	position: relative;
	padding: 0px 0px 0px 0px;
	margin: 0px;
	width: 85px;
	float: left;
	font-size: 12px;
	line-height: 16px;
	color: #250D0C;
	text-align: right;
}

/* rates top right box divs
---------------------- */

.ratesright1{
	position: relative;
	padding: 0px;
	margin: 0px;
	width: 269px;
	height: 327px;
	float: left;
}

.ratesright2{
	position: relative;
	padding: 0px;
	margin: 0px;
	width: 161px;
	height: 327px;
	float: left;
}

/* activities page rules
----------------------------------------------- */

.activitiesbottombox{
	position: relative;
	padding: 0px;
	margin: 0px;
	width: 980px;
	float: left;
	background-color: #250D0C;
}

.activitiesrightbox{
	position: relative;
	padding: 0px;
	margin: 0px;
	width: 435px;
	height: auto;
	float: left;
	background-color: #C9A88F;
	background-image: url(../images/dottedrule_409.png);
	background-repeat: no-repeat;
	background-position: 25px bottom;
}

.activitieslefttext{
	position: relative;
	padding: 0px 25px 6px 25px;
	margin: 0px;
	width: 485px;
	float: left;
	font-size: 16px;
	line-height: 16px;
	color: #FFFFFF;
	clear: both;
}

.activitieslefttext2{
	position: relative;
	padding: 0px 25px 16px 25px;
	margin: 0px;
	width: 485px;
	float: left;
	font-size: 12px;
	line-height: 16px;
	color: #FFFFFF;
	clear: both;
}

.activitiesrightlink{
	position: relative;
	padding: 0px 0px 5px 25px;
	margin: 0px;
	width: 410px;
	float: left;
	font-size: 12px;
	line-height: 16px;
	color:#250D0C;
}

/* activities top right box divs
---------------------- */

.activitiesright1{
	position: relative;
	padding: 0px;
	margin: 0px;
	width: 332px;
	height: 220px;
	float: left;
}

.activitiesright2{
	position: relative;
	padding: 0px;
	margin: 0px;
	width: 103px;
	height: 220px;
	float: left;
}

.activitiesright3{
	position: relative;
	padding: 0px;
	margin: 0px;
	width: 435px;
	height: 107px;
	float: left;
}

/* dining page rules
----------------------------------------------- */

.diningleftbox{
	position: relative;
	padding: 0px;
	margin: 0px;
	width: 545px;
	height: 377px;
	float: left;
	background-color: #250D0C;
	background-image: url(../images/squiggle.gif);
	background-repeat: no-repeat;
	background-position: 297px 26px;
}

.diningrightbox{
	position: relative;
	padding: 0px;
	margin: 0px;
	width: 435px;
	float: left;
	background-color: #C9A88F;
}

.dininglefttext{
	position: relative;
	padding: 0px 35px 0px 25px;
	margin: 0px;
	width: 485px;
	float: left;
	font-size: 12px;
	line-height: 24px;
	color: #FAB783;
	clear: both;
}

.diningighttext{
	position: relative;
	padding: 0px 0px 16px 25px;
	margin: 0px;
	float: left;
	font-size: 12px;
	line-height: 16px;
	color:#250D0C;
}

.diningrule{
	position: relative;
	padding: 0px;
	margin: 0px;
	width: 410px;
	height: 12px;
	float: left;
	clear: both;
	background-image: url(../images/dottedrule_409.png);
	background-repeat: no-repeat;
	background-position: center left;
}

.diningrule2{
	position: relative;
	padding: 0px;
	margin: 0px;
	width: 410px;
	height: 7px;
	float: left;
	background-image: url(../images/dottedrule_409.png);
	background-repeat: no-repeat;
	background-position: bottom left;
}

/* dining top right box divs
---------------------- */

.diningright1{
	position: relative;
	padding: 0px;
	margin: 0px;
	width: 220px;
	height: 327px;
	float: left;
}

.diningright2{
	position: relative;
	padding: 0px;
	margin: 0px;
	width: 215px;
	height: 327px;
	float: left;
}

/* testimonials page rules
----------------------------------------------- */

.testimonialsbottombox{
	position: relative;
	padding-bottom: 45px;
	margin: 0px;
	width: 980px;
	float: left;
	background-color: #250D0C;
	background-image: url(../images/squiggle.gif);
	background-repeat: no-repeat;
	background-position: 732px 26px;
}

.testimonialsbottomtext{
	position: relative;
	padding: 0px 0px 4px 25px;
	margin: 0px;
	width: 653px;
	float: left;
	font-size: 12px;
	line-height: 19px;
	color: #FFFFFF;
	clear: both;
}

.testimonialsdate{
	position: relative;
	padding: 0px 0px 0px 25px;
	margin: 0px;
	width: 653px;
	height: 40px;
	float: left;
	font-size: 10px;
	line-height: 19px;
	color: #FAB783;
	clear: both;
	text-align: right;
	background-image: url(../images/dottedrule_652.png);
	background-repeat: no-repeat;
	background-position: 25px 25px;
}

/* testimonials top right box divs
---------------------- */

.testimonialsright1{
	position: relative;
	padding: 0px;
	margin: 0px;
	width: 318px;
	height: 327px;
	float: left;
}

.testimonialsright2{
	position: relative;
	padding: 0px;
	margin: 0px;
	width: 117px;
	height: 327px;
	float: left;
}

/* blog page rules
----------------------------------------------- */

.blogdate{
	position: relative;
	padding: 0px 0px 4px 25px;
	margin: 0px;
	width: 653px;
	float: left;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	clear: both;
}

.bloghead{
	position: relative;
	padding: 0px 0px 2px 25px;
	margin: 0px;
	width: 653px;
	float: left;
	font-size: 18px;
	color: #FAB783;
	clear: both;
}

/* blog top right box divs
---------------------- */

.blogright1{
	position: relative;
	padding: 0px;
	margin: 0px;
	width: 218px;
	height: 327px;
	float: left;
}

.blogright2{
	position: relative;
	padding: 0px;
	margin: 0px;
	width: 217px;
	height: 327px;
	float: left;
}

/* design page rules
----------------------------------------------- */

.designbottomtext1{
	position: relative;
	padding: 0px 0px 5px 25px;
	margin: 0px;
	width: 930px;
	float: left;
	font-size: 14px;
	color: #FFFFFF;
}

.designcol1{
	position: relative;
	padding: 0px 10px 0px 25px;
	margin: 0px;
	width: 285px;
	float: left;
	font-size: 12px;
	line-height: 16px;
	color: #C9A88F;
}

/* design top right box divs
---------------------- */

.designright1{
	position: relative;
	padding: 0px;
	margin: 0px;
	width: 435px;
	height: 88px;
	float: left;
}

.designright2{
	position: relative;
	padding: 0px;
	margin: 0px;
	width: 435px;
	height: 126px;
	float: left;
}

.designright3{
	position: relative;
	padding: 0px;
	margin: 0px;
	width: 435px;
	height: 113px;
	float: left;
}

/* contact page rules
----------------------------------------------- */

.contactlefttext2{
	position: relative;
	padding: 0px 25px 16px 25px;
	margin: 0px;
	width: 485px;
	float: left;
	font-size: 16px;
	line-height: 16px;
	color: #FAB783;
	clear: both;
}

/* contact top right box divs
---------------------- */

.contactright1{
	position: relative;
	padding: 0px;
	margin: 0px;
	width: 217px;
	height: 327px;
	float: left;
}

.contactright2{
	position: relative;
	padding: 0px;
	margin: 0px;
	width: 103px;
	height: 327px;
	float: left;
}

.contactright3{
	position: relative;
	padding: 0px;
	margin: 0px;
	width: 115px;
	height: 327px;
	float: left;
}